html, body {width: 100%; height: 100%}
p {margin: 0; padding: 0}
input[type=submit]:hover {color: darkslategray; width: 125px;}
.small {font-size: 7px;}
.small:hover {text-decoration: underline; cursor: pointer;}
.balanceBox {width: 150px; border-radius: 5px 5px; background: lightskyblue;}
#cel {text-align: center;}
.container 
	{display: inline-block; margin-top: 300px; max-width: 400px; transform: scale(2, 2);}
#myform {background: skyblue; border-radius: 10px; padding: 15px;}
.balanceBox p {border-bottom: solid black 1px;}
.json:hover {cursor: pointer}
input[type=text],
input[type=password] {
	border-radius: 5px;
	font-size: 10px;
}

input[type=text]:hover,
input[type=password]:hover {
	border-color: skyblue;
}

input[type=text]:focus,
input[type=password]:focus {
	background: lightskyblue;
	border-color: skyblue;
	outline: 0px solid black;
}

#legend {
	font-size: 30px;
	padding: 0 0 10px 0;
	margin: 0;
}
input[name=registration],
button[name=action] {
	width: 100px;
	height: 35px;
	font-size: 25px;
	margin: 10px;
	border-radius: 10px 0;
	outline: 0px solid black;
	background: lightskyblue;
	border-color: skyblue;
}
	
.Labels,
.Inputs
{
	display: inline-block;
}

.Labels label,
.Inputs input
{
	display: block;
}

#login,
#password,
#repeat,
#mobile,
#email
{
	width: 130px;
	margin: 2px 0px 2px auto;
	height: 15px;
}

.Labels label
{
	text-align: left;
	height: 21px;
}

.darkblue,
.SmallNote
{
	background: lightblue;
	padding: 10px;
	border-radius: 10px;
}

.SmallNote
{
	display: block;
	background: lightskyblue;
	font-size: 9px;
	width: 150px;
	margin: auto;
	padding: 0;
}