#Включаем модуль переписывания
RewriteEngine On

# Устанавливаем индексный файл для директории
DirectoryIndex api.php

# Путь до корня сайта
RewriteBase /

# Исключения - адреса, которые не нужно переписывать
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Правила изменения URL-адреса
#RewriteRule (.*) index.php?uri=$0 [L]